.cart-list {
  padding-left: 0px;
}

.total-amount-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  font-weight: bold;
  background-color: #ffffff;
  padding: 16px;
  margin-bottom: 16px;
  box-shadow: 0px 4px 16px 0px #7e858e29;
}

.total-amount-label {
  color: #333;
  font-size: 18px;
}

.total-amount {
  color: rgb(133, 39, 25); 
  padding-left: 10px;
  font-size: 18px;
}
